extends ../layout

block content
  h1= title
  .row
    .medium-12.columns
      .panel
        p Welcome to #{title}
  
  .row#photos
      - each photo in photos
        .medium-4.columns.photo
          h2= photo.name
          a(href='/photos/' + photo.id + '/download')
            img.th(src=photo.path)
