extends layout

block content
  .row
    h1= title
      p.panel Welcome to #{title} page
      
  .row
    p.medium-4.
      Here you can read about me.
      I am young and inspirated developer,
      who want to learn new and 
      interesting things about technologies.
      I am brave, because I know, that this is not easy task.
      So, only hope and inspiration save me from despair.
